
{% extends 'base.html.twig' %}

{% block title %}{% trans %}Supprimer une réservation{% endtrans %}{% endblock %}
        {% block stylesheets %}
            {{ parent() }}
            <link rel="stylesheet" href="{{ asset('css/deleteTrajet.css') }}">
        {% endblock %}
{% block body %}
    <h1>{% trans %}Supprimer la réservation{% endtrans %}</h1>
    <p>
        {% trans %}Êtes-vous sûr de vouloir supprimer la réservation pour le trajet{% endtrans %} {{ reservation.trajet.getVilleDepart() }} --> {{ reservation.trajet.getVilleDestination() }} ?
    </p>

    {{ form_start(form) }}
    {{ form_widget(form.submit, { 'attr': {'class': 'btn btn-danger'} }) }}
    <a href="{{ path('reservation.show', { 'id': reservation.id }) }}" class="btn btn-secondary">{% trans %}Annuler{% endtrans %}</a>
    {{ form_end(form) }}
{% endblock %}