{# templates/reservation/list.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Liste des réservations{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/reservation-list.css') }}">
{% endblock %}
{% block body %}
    <div class="container">
        <h1>Liste des réservations</h1>

        <div class="mb-3">
            <a href="{{ path('reservation.history') }}" class="btn btn-secondary">Voir l'historique des réservations</a>
        </div>

        {% set isAdmin = 'ROLE_ADMIN' in app.user.roles %}

        <div class="reservation-list">
            {% for reservation in reservations %}
                {% if isAdmin or app.user == reservation.passager %}
                    <div class="reservation-card">
                        <div class="reservation-info">
                            {% if isAdmin %}
                                <div class="reservation-passenger">
                                    Passager: {{ reservation.passager.username }}
                                </div>
                            {% endif %}
                            <div class="reservation-location">
                                {{ reservation.trajet.getVilleDepart() }} &#x2192; {{ reservation.trajet.getVilleDestination() }}
                            </div>
                            <div class="reservation-dates">
                                <p>Départ : {{ reservation.trajet.getDateDepart()|date('d/m/Y H:i') }}</p>
                                <p>Arrivée : {{ reservation.trajet.getDateArrivee()|date('d/m/Y H:i') }}</p>
                            </div>
                        </div>
                        <div class="reservation-actions">
                            <a href="{{ path('reservation.show', {'id': reservation.id}) }}" class="btn btn-info">Voir</a>
                            {% if app.user == reservation.passager or isAdmin %}
                                <a href="{{ path('reservation.delete', {'id': reservation.id}) }}" class="btn btn-danger">Supprimer</a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% else %}
                <div class="no-reservations-found">
                    Aucune réservation trouvée.
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}