<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Bienvenu!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    {% endblock %}

    {% block javascripts %}
        <!-- flatpickr CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

        <!-- flatpickr JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    {% endblock %}

</head>
<body>
<nav>
    <div class="nav-bar">
        <i class='bx bx-menu sidebarOpen'></i>
        <span class="logo navLogo"><a href="#">FLIXCAR</a></span>

        <div class="menu">
            <div class="logo-toggle">
                <span class="logo"><a href="#">FLIXCAR</a></span>
                <i class='bx bx-x siderbarClose'></i>
            </div>

            <ul class="nav-links">
                <li><a href="{{ path('home') }}">Accueil</a></li>
                <li><a href="{{ path('trajet.list') }}">Trajets</a></li>
                <li><a href="{{ path('trajet.create') }}">Offrir un trajet</a></li>
                <li><a href="{{ path('reservation.list') }}">Réservations</a></li>
                <li><a href="{{ path('profile') }}">Profil</a></li>
                {% if app.user %}
                    <li class="username">Bonjour, {{ app.user.prenom }}</li>
                    <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
                {% else %}
                    <li><a href="{{ path('app_login') }}">Se connecter</a></li>
                {% endif %}
            </ul>
        </div>

        <div class="darkLight-searchBox">
            <div class="dark-light">
                <i class='bx bx-moon moon'></i>
                <i class='bx bx-sun sun'></i>
            </div>

            <div class="searchBox">
                <div class="searchToggle">
                    <i class='bx bx-x cancel'></i>
                    <i class='bx bx-search search'></i>
                </div>

                <div class="search-field">
                    <input type="text" placeholder="Search...">
                    <i class='bx bx-search'></i>
                </div>
            </div>
        </div>
    </div>
</nav>

<script>
    const body = document.querySelector("body"),
        nav = document.querySelector("nav"),
        modeToggle = document.querySelector(".dark-light"),
        searchToggle = document.querySelector(".searchToggle"),
        sidebarOpen = document.querySelector(".sidebarOpen"),
        siderbarClose = document.querySelector(".siderbarClose");
    let getMode = localStorage.getItem("mode");
    if(getMode && getMode === "dark-mode"){
        body.classList.add("dark");
    }
    // js code to toggle dark and light mode
    modeToggle.addEventListener("click" , () =>{
        modeToggle.classList.toggle("active");
        body.classList.toggle("dark");
    // js code to keep user selected mode even page refresh or file reopen
        if(!body.classList.contains("dark")){
            localStorage.setItem("mode" , "light-mode");
        }else{
            localStorage.setItem("mode" , "dark-mode");
        }
    });
    // js code to toggle search box
    searchToggle.addEventListener("click" , () =>{
        searchToggle.classList.toggle("active");
    });
    // js code to toggle sidebar
    sidebarOpen.addEventListener("click" , () =>{
        nav.classList.add("active");
    });
    body.addEventListener("click" , e =>{
        let clickedElm = e.target;
        if(!clickedElm.classList.contains("sidebarOpen") && !clickedElm.classList.contains("menu")){
            nav.classList.remove("active");
        }
    });
</script>
{% block body %}{% endblock %}
</body>
</html>
