{% extends 'base.html.twig' %}

{% block title %}Modifier le trajet{{ parent() }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/createTrajet.css') }}"> <!-- ajouter un home.css -->
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const flatpickrElements = document.querySelectorAll('[data-toggle="flatpickr"]');
            flatpickrElements.forEach(function (element) {
                flatpickr(element, {
                    enableTime: element.dataset.enableTime === 'true',
                    dateFormat: element.dataset.enableTime === 'true' ? "d-m-Y H:i" : "d-m-Y",
                    time_24hr: true,
                    minDate: 'today',
                });
            });
        });
    </script>
{% endblock %}
{% block body %}
    <div class="container">
        <h1>Modifier le trajet</h1>
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.villeDepart, 'Ville de départ') }}
            {{ form_widget(form.villeDepart, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.villeDepart) }}
        </div>
        <div class="form-group">
            {{ form_label(form.villeDestination, 'Ville de destination') }}
            {{ form_widget(form.villeDestination, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.villeDestination) }}
        </div>
        <div class="form-group">
            {{ form_label(form.dateDepart, 'Date de départ') }}
            {{ form_widget(form.dateDepart, {'attr': {'class': 'form-control', 'data-toggle': 'flatpickr', 'data-enable-time': 'true'}}) }}
            {{ form_errors(form.dateDepart) }}
        </div>
        <div class="form-group">
            {{ form_label(form.dateArrivee, 'Date d\'arrivée') }}
            {{ form_widget(form.dateArrivee, {'attr': {'class': 'form-control', 'data-toggle': 'flatpickr', 'data-enable-time': 'true'}}) }}
            {{ form_errors(form.dateArrivee) }}
        </div>
        <div class="form-group">
            {{ form_label(form.nombrePlaces, 'Nombre de places') }}
            {{ form_widget(form.nombrePlaces, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.nombrePlaces) }}
        </div>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        <a href="{{ path('trajet.show', {'id': trajet.id}) }}" class="btn btn-link">Annuler</a>
        {{ form_end(form) }}
    </div>
{% endblock %}
